@media (min-width: 1501px) and (max-width: 1750px) {
    
    .hero_slider .owl-nav {right: 10px;}
    .Trending_slider_blk {
        height: 100%;
        max-height: 250px;
    }
    
    .Trending_slider_blk i {
        width: 100%;
    }
    .comment_left img {
        max-width: 360px;
    }
    
    .comment_wrp {
        padding-left: 100px;
    }
    
    .commen_top {
        padding-left: 100px;
    }
    .card_blk {
        max-width: 100%;
        flex: 0 0 19%;
    }

    .card_blk:nth-child(5n) {
        margin-right: 0;
    }

    .card_blk:nth-child(6n) {
        margin: 0 5px 14px;
    }
    
}


/* Big screen :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {
/* ________Page Start_________ */
.src_filter {
    margin-right: 20px;
    max-width: 200px;
    margin-left: 10px;
    padding: 5px;
}

.src_filter div {
    display: flex;
    align-items: center;
}

.logo .bar {
    margin-right: 20px;
}

.extra_link {
    margin: 0 5px;
}

.Filter_btn {
    font-size: 10px;
}
.hero_slider_blk {
    padding: 140px 0 20px;
}

.hero_slider_blk .title h1 {
    font-size: 44px;
}

.hero_slider_blk .desi-description p {
    max-width: 570px;
}

.hero_slider .owl-nav {
    right: 10px;
}
.Trending_slider_blk i {
    width: 100%;
}

.Trending_slider_blk {
    height: 340px;
}
.Trending_slider .owl-nav i {
    height: 160px;
}
.comment_left img {
    display: none;
}

.commen_top {
    padding-left: 0;
}

.comment_wrp {
    padding-left: 0;
}
.comment-area .d-none {
    display: none !important;
}

.comment-area  .col-lg-12.col-xl-10 {
    width: 96%;
}

.comment-area .row {
    justify-content: center;
}
.Episode_right {
    width: 29%;
}

.Episode_left {
    width: 69%;
}

.Episode_left .col-lg-6.col-md-6.col-xl-3 {
    width: 50%;
}

.card_blk {
    flex: 0 0 23.4%;
    height: 360px;
}

.card_blk_lg {min-height: 470px;}

.table_schedule {
    max-width: 97%;
}
.card_blk:nth-child(4n) {
    margin-right: 0;
}

.card_blk:nth-child(6n) {
    margin: 0 6px 14px;
}
.card_blk > i {
    height: 270px;
}

.card_blk_lg > i {
    height: 320px;
}
/* _________Page End________ */


/* ________Page Start_________ */
section.Filter-Area .card_blk {
    flex: 0 0 19%;
    max-width: 100%;
}

section.Filter-Area .card_blk:nth-child(4n) {
    margin: 0 6px 14px;
}

section.Filter-Area .card_blk:nth-child(5n) {
    margin-right: 0;
}
/* _________Page End________ */

/* ________Page Start_________ */
.wv_left{
    width: 100%;
}
.wv_right{
    width: 100%;
}
.OnePiece_right.watch_right {
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
}

.OnePiece_right.watch_right .OnePiece_img {
    flex-direction: column;
    width: 127px;
    margin-right: 20px;
}

.OnePiece_right.watch_right .mgicon_btn a {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mgicon_btn a img {
    margin: auto;
    margin-bottom: 10px;
}

.mgicon_btn {
    margin-top: 10px;
}
.watch_vote {max-width: 250px;}

.Vote_blk {
    top: 0;
    position: absolute;
    right: 0;
}
/* _________Page End________ */

/* ________Page Start_________ */
/* _________Page End________ */

/* ________Page Start_________ */
/* _________Page End________ */

/* ________Page Start_________ */
/* _________Page End________ */

}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .container.cmd{
    width: 80%;
}
/* ________Page Start_________ */
section.zoroHero-Area {
    padding: 0 20px;
}

.header-area.zoro_header {
    padding-left: 20px;
}

img.zoroHero {
    max-width: 475px;
}

.src_bar input {
    max-width: 450px;
}

.src_tag {
    max-width: 500px;
}
.mwb-left {
    padding-right: 40px;
}

section.share_zoro-Area {
    padding: 0 20px;
}
.header-area.zoro_header{
    padding-top: 30px;
}
/* _________Page End________ */

/* ________Page Start_________ */
.src_filter {
    display: none;
}

.login_btn a.src_btn {
    display: inline-block;
}

.header-area .social_link ul li a.text {
    display: none;
}

.social_link {
    margin-left: 20px;
}
.hero_slider_blk .title h1 {
    font-size: 30px;
    max-width: 400px;
}

.hero_slider_blk .desi-description p {
    max-width: 400px;
}
.commen_top,.comment_wrp {
    padding-left: 0;
}
.seris_list_blk {
    margin-bottom: 25px;
}
.Episode_right {
    width: 100%;
    padding: 0 10px;
    padding-left: 20px;
}

.Episode_left {
    width: 100%;
}

.Episode_wrp {
    flex-direction: column;
}

.card_blk {
    flex: 0 0 31%;
    max-width: 100%;
    margin: 10px;
    height: 400px;
}

.card_blk_lg {
    min-height: 510px;
}

.Episode_card_wrp {
    justify-content: center;
}

.card_blk:nth-child(3n) {
    margin-right: 0;
}

.card_blk > i {max-height: 300px;}

.table_schedule {
    max-width: 97%;
    margin: auto;
}

.hero_slider .owl-nav {
    right: 10px;
}
.Trending_slider_blk {
    height: 250px;
}

.Trending_slider_blk i {
    width: 100%;
}
.Trending_slider .owl-nav i {
    height: 120px;
}
.AZ_list ul li a {
    margin-right: 5px;
}
h4.cat-heading {
    padding-left: 15px;
}
.OnePiece_left {
    margin-left: 0;
    padding-right: 50px;
}
/* _________Page End________ */

/* ________Page Start_________ */
.wv_left{
    width: 100%;
}
.wv_right{
    width: 100%;
}
.OnePiece_right.watch_right {
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
}

.OnePiece_right.watch_right .OnePiece_img {
    flex-direction: column;
    width: 127px;
    margin-right: 20px;
}

.OnePiece_right.watch_right .mgicon_btn a {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mgicon_btn a img {
    margin: auto;
    margin-bottom: 10px;
}

.mgicon_btn {
    margin-top: 10px;
}
.watch_vote {max-width: 250px;}

.Vote_blk {
    top: 0;
    position: absolute;
    right: 0;
}
.eps-wrp {
    flex-direction: column-reverse;
}

.eps-wrp .eps-left {
    width: 100%;
    max-width: 100%;
}

.eps-wrp .eps-right {
    width: 100%;
}

.eps-left > ul li {width: calc(7% - 3px);}

.eps-left > ul {
    justify-content: start;
}
.eps-left-title form {
    justify-content: space-between;
}
.ep-info-right > div p i {
    margin-right: 10px;
    color: var(--thmColor);
}
.Piece_discrip {
    width: 75%;
}
.Videos_bkl {
    width: 31%;
    margin-right: 15px;
    flex: 0 0 32%;
}

.Videos_bkl:nth-child(3n) {
    margin-right: 0;
}

.Videos_wrp {
    flex-wrap: wrap;
    justify-content: start;
}

.Actors_wrp {
    flex-wrap: wrap;
}

.Actors_blk {
    width: 49%;
    height: 90px;
}
/* _________Page End________ */



/* ________Page Start_________ */
/* _________Page End________ */

/* ________Page Start_________ */
/* _________Page End________ */

/* ________Page Start_________ */
/* _________Page End________ */


}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
/* ________Page Start_________ */
.header-area.zoro_header{
    padding-top: 30px;
}
img.zoroHero {
    display: none;
}

.zoro-hero_home {
    max-width: 551px;
    margin: auto;
    padding: 110px 0 60px;
}

.src_bar input {
    max-width: 450px;
}
.share_zoro_right {
    margin: auto;
}

.Posts_blk {
    width: 48%;
    display: inline-block;
    margin: 6px;
}
a.read_more {
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
}
/* _________Page End________ */

/* ________Page Start_________ */
.src_filter {
    display: none;
}

.Src__filer_hiden .src_filter {
    display: flex;
    max-width: 95%;
    margin: 0;
}

.Src__filer_hiden.show {
    display: flex;
}

.login_btn a.src_btn {
    display: inline-block;
}

.social_link {}

.header-area .social_link {
    display: none;
}

.hero_slider_blk .title h1 {
    font-size: 36px;
}

.hero_slider_blk .desi-description p {
    max-width: 400px;
}

.hero_slider .owl-nav {
    right: 10px;
}
.hero_slider_blk {
    padding-top: 90px;
}
.commen_top,.comment_wrp {
    padding-left: 0;
}
.Episode_left {
    width: 100%;
}

.Episode_right {
    width: 100%;
}

.Episode_wrp {
    flex-wrap: wrap;
    margin-left: 0;
}

ul.pagination.pagination-lg.justify-content-center {
    margin-bottom: 50px;
}

.card_blk {
    flex: 0 0 31%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.Episode_card_wrp {
    justify-content: space-between;
}
/* _________Page End________ */

.OnePiece_left {
    margin: 0;
}

.OnePiece_content {
    max-width: 100%;
    margin-left: 20px;
}

.OnePiece_content .dot {
    margin: 1px;
}

.Piece_btn a {
    font-size: 14px;
}

.PG_btn {
    margin-bottom: 10px;
}


/* ________Page Start_________ */
.wv_left{
    width: 100%;
}
.wv_right{
    width: 100%;
}
.OnePiece_right.watch_right {
    padding-top: 180px;
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
}

.OnePiece_right.watch_right .OnePiece_img {
    flex-direction: column;
    margin-right: 20px;
    flex-shrink: 0;
    width: 120px;
}

.OnePiece_right.watch_right .mgicon_btn a {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mgicon_btn a img {
    margin: auto;
    margin-bottom: 10px;
}

.mgicon_btn {
    margin-top: 10px;
}
.watch_vote {max-width: 250px;}

.Vote_blk {
    top: 0;
    position: absolute;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
.eps-wrp {
    flex-direction: column-reverse;
}

.eps-wrp .eps-left {
    width: 100%;
    max-width: 100%;
}

.eps-wrp .eps-right {
    width: 100%;
}

ul.vdo-ec-right img {
    width: 100%;
}

.eps-left > ul li {width: calc(7% - 3px);}

.eps-left > ul {
    justify-content: start;
}
.eps-left-title form {
    justify-content: space-between;
}
.ep-info-right > div p i {
    margin-right: 10px;
    color: var(--thmColor);
}
.Piece_discrip {
    width: 75%;
}
.Videos_bkl {
    width: 31%;
    margin-right: 15px;
    flex: 0 0 31.5%;
}

.Videos_bkl:nth-child(3n) {
    margin-right: 0;
}

.Videos_wrp {
    flex-wrap: wrap;
    justify-content: start;
}

.Actors_wrp {
    flex-wrap: wrap;
}

.Actors_blk {
    width: 49%;
    height: 90px;
}
.eps-wrp .eps-right iframe {
    height: 500px;
}

.vdo-extra-controlls ul.vdo-ec-right li span {
    display: none;
}

a.view_d {
    margin-bottom: 20px;
}
/* _________Page End________ */



}

 
/* small screen :320px. */
@media (max-width: 767px) {
/* ________Page Start_________ */
.header-area.zoro_header{
    padding-top: 30px;
}
img.zoroHero {
    display: none;
}

.zoro-hero_home {
    max-width: 360px;
    margin: auto;
    padding: 75px 0 10px;
}

.zoro-hero_home .logo {
    text-align: center;
    width: max-content;
    margin: auto;
}

.src_bar input {
    max-width: 80%;
    height: 40px;
}

.src_bar a {
    width: 40px;
    height: 40px;
    font-size: 18px;
}
.share_zoro_right {
    margin: auto;
}
.hero_home_btn a {
    font-size: 16px;
}
h1.mw-heading {
    font-size: 20px;
}

.share_zoro_left h2 {
    font-size: 18px;
}
/* _________Page End________ */



/* ________Page Start_________ */
.src_filter {
    display: none;
}

.Src__filer_hiden .src_filter {
    display: flex;
    max-width: 88%;
    margin: 0;
    border-radius: 4px;
}

.src_filter {}

.Src__filer_hiden {
    display: flex;
}

.logo img {
    width: 110px;
}

.login_btn a.src_btn {
    display: block;
}

a.src_btn.show {
    color: var(--thmColor);
}

.log_btn {
    height: 35px;
    line-height: 1;
    padding: 0px 13px;
    font-size: 12px;
}

.social_link {
    margin: 0;
}

.header-area .social_link {
    display: none;
}

.header-area .extra_link {
    display: none;
}

.header-area {
    padding: 10px 0 10px;
}
.hero_slider_blk ul {
    display: none;
}

.hero_slider_blk .title span {
    font-size: 14px;
}

.hero_slider_btn a {
    font-size: 14px;
    padding: 8px 15px;
}
.donate {
    display: none;
}

.hero_slider_blk .title h1 {
    font-size: 20px;
    max-width: 280px;
    margin: 10px 0 10px;
}

.hero_slider_blk .desi-description p {
    max-width: 256px;
    line-height: 1.4;
    margin-bottom: 20px;
    -webkit-line-clamp: 2;
    margin-top: 0;
}

.hero_slider .owl-nav {
    right: 10px;
    display: none;
}
.hero_slider_blk {
    padding-top: 150px;
    padding-bottom: 30px;
}
.commen_top,.comment_wrp {
    padding-left: 0;
}
.Episode_left {
    width: 100%;
}

.Episode_left .select_wrp:nth-child(2) {
    border-bottom: 1px solid #484a50;
    padding-bottom: 11px;
}

.Genre_tag ul {
    height: 204px;
    overflow-y: scroll;
}

.Episode_right {
    width: 100%;
}

.Episode_right > div:last-child {
    margin-bottom: auto;
}

.Episode_wrp {
    flex-wrap: wrap;
    margin-left: 0;
}

.owl_dot__scroll .owl-dot {
    width: 15px;
}

.comment_slider_blk {
    margin: auto;
}

.com__control_btn label {
    display: none;
}
.Trending_slider_blk i {
    width: 100%;
    max-width: 200px;
    display: block;
    height: 263px;
}
.card_blk .card_text a {
    margin-bottom: 12px;
    font-size: 15px;
}
.Trending_slider_blk {
    height: 240px;
    position: relative;
    padding-left: 0;
}

.Trending_area {
    overflow: hidden;
    padding-bottom: 20px;
}

section.hm_shar {
    display: -webkit-box;
    margin: 0;
    padding: 20px 0;
    background: #131415;
    margin-top: 5px;
}

.Trending_slider_blk .ts_text {
    left: 0;
    top: 0;
    height: 39px;
    background: #fff;
}

.ts_text span {
    display: none;
}

.Trending_slider_blk .ts_text h4 {
    top: 0;
    left: 0;
    color: #000;
}

section.Trending_area .container {
    padding-right: 0;
}

.Trending_slider .owl-nav {
    display: none;
}

.Trending_slider .owl-nav i {
    height: 130px;
}
.schedule-full .bah-time {
    display: block;
    margin: auto;
}
.share_zoro_text.and_img {
    display: none;
}
.block_area-header {
    flex-direction: column;
}

.table_schedule .table_schedule-list li .time {
    top: 30px;
    left: 5px;
}

.table_schedule .table_schedule-list li .film-detail {
    padding-left: 0;
}

.table_schedule .table_schedule-list li {
    padding: 25px 0 1px;
}
.card_blk > i {
    height: 250px;
}
.card_blk {
    flex: 0 0 49%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 15px;
}
.Episode_left .row {
    width: 100%;
}

.card_blk_lg > i {
    height: 300px;
}
.Episode_card_wrp {
    justify-content: space-between;
}

.pagination {
    margin-bottom: 30px;
}
.AZ_list {
    display: none;
}

.footer_link {
    margin-top: 20px;
    text-align: center;
}

.footer_logo {
    flex-direction: column;
    width: auto;
    text-align: center;
}

.footer_logo .social_link ul li a.text {
    display: none;
}

.footer_logo .logo {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 20px;
}

.footer_link ul li:last-child {
    margin-right: 0;
}

.footer_btm {
    text-align: center;
}

.footer_btm p {
    margin-top: 12px;
}

footer.footer_area {
    padding-bottom: 20px;
}

section.Episode-Area {
    margin-bottom: 50px;
}
.number {
    font-size: 16px;
}
/* _________Page End________ */


/* _________Page Start________ */
.OnePiece_left {
    margin: auto;
    flex-direction: column;
}

.OnePiece_content {
    margin: 0;
}

.OnePiece_content h1 {
    font-size: 30px;
}

.PG_btn {
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.Piece_btn a {
    font-size: 13px;
    padding: 8px 16px;
    margin-right: 10px;
}

.PG_btn .dot {
    margin: 4px;
}

section.OnePiece-Area {
    padding: 10px 0 20px;
}

.shareInSocial-contents {
    padding-left: 0;
    border: none;
    width: max-content;
    flex-shrink: 0;
}

.shareInSocial-wrp ul li a {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shareInSocial-wrp ul li a svg {
    width: 25px !important;
}

.shareInSocial-wrp ul li a span {
    display: none !important;
}

.sec_title h4 {
    font-size: 20px;
}

.Actors_wrp {
    flex-direction: column;
}

.Actors_blk {
    width: 100%;
}

.Videos_wrp {
    flex-direction: column;
}

.Videos_bkl {
    width: 100%;
}

.Videos_bkl a > i {
    height: 100%;
}
/* _________Page End________ */


/* ________Page Start_________ */
.wv_left{
    width: 100%;
}
.wv_right{
    width: 100%;
}
.OnePiece_right.watch_right {
    padding-top: 180px;
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
}

.OnePiece_right.watch_right .OnePiece_img {
    flex-direction: column;
    margin-right: 20px;
    flex-shrink: 0;
    width: 89px;
}

.OnePiece_right.watch_right .mgicon_btn a {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px;
}

.mgicon_btn a img {
    margin: auto;
    margin-bottom: 10px;
}

.mgicon_btn {
    margin-top: 10px;
}
.watch_vote {max-width: 100%;}

.Vote_blk {
    top: 0;
    position: absolute;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 326px;
}
.eps-wrp {
    flex-direction: column-reverse;
}

.eps-wrp .eps-left {
    width: 100%;
    max-width: 100%;
}

ul.vdo-ec-right img {
    width: 100%;
}

.eps-wrp .eps-right {
    width: 100%;
}

.eps-left > ul li {width: calc(10% - );}

.eps-left > ul {
    justify-content: start;
}
.eps-left-title form {
    justify-content: space-between;
}
.ep-info-right > div p i {
    margin-right: 10px;
    color: var(--thmColor);
}
.Piece_discrip {
    width: 100%;
}
.Videos_bkl {
    margin-right: 0;
}

.Videos_bkl:nth-child(3n) {
}

.Videos_wrp {
    flex-wrap: wrap;
    justify-content: start;
}

.Actors_wrp {
    flex-wrap: wrap;
}

.Actors_blk {
    width: 100%;
    height: 90px;
}
.eps-wrp .eps-right iframe {
    height: 324px;
}

.vdo-extra-controlls ul.vdo-ec-right li span {
    display: none;
}

a.view_d {
    margin-bottom: 20px;
}
.maincomments-top {
    flex-wrap: wrap;
}
.vdo-extra-controlls > ul li span {
    display: none;
}

.vdo-extra-controlls > ul li span {}

.vdo-extra-controlls {
    /* flex-direction: column; */
    padding-right: 0;
}
.ep-info {flex-direction: column;}

.ep-info .ep-info-left {
    width: 100%;
}

.ep-info-right > div ul {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25px;
}

.ep-info-right > div ul a {
    font-size: 12px;
    margin-bottom: 5px;
}

.ep-info-right > div p {
    margin-right: 0;
    width: max-content;
    flex-shrink: 0;
}

.ep-info-right {
    width: 100%;
}

.ep-info-right > div {
    align-items: baseline;
}
.commentWrp > ul li {
    margin-right: 16px;
    font-size: 12px;
}
.Vote_comment_txt p {
    display: none;
}
/* _________Page End________ */
 
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 .zoro-hero_home{
    max-width: 450px;
}
}
